/*Fuentes*/
@font-face
	font-family 'Fjord'
	font-style normal
	font-weight 400
	src url('../fonts/fjord-one.eot')
	src local('OpenSans'), url('../fonts/fjord-one.eot') format('embedded-opentype'), url('../fonts/fjord-one.ttf') format('truetype'), url('../fonts/fjord-one.svg#Fjord-One') format('svg'), url('../fonts/fjord-one.woff') format('woff')

@font-face
	font-family 'roboto_condensedregular'
	src url('../fonts/RobotoCondensed-Regular-webfont.eot')
	src url('../fonts/RobotoCondensed-Regular-webfont.eot') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'), url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg')
	font-weight normal
	font-style normal

/*Bootstrap v3.2.0 */

opacity(n)
	opacity n
	if support-for-ie
		filter unquote('alpha(Opacity=' + round(n * 100) + ')')
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
background-size()
	background-size arguments
	-o-background-size arguments
	-ms-background-size arguments
	-moz-background-size arguments
	-webkit-background-size arguments
border-radius()
	border-radius arguments
	-o-border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
box-shadow()
	box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
box-sizing()
	box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
box-shadow_lindo()
	box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-o-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-ms-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-moz-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-webkit-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
box-shadow_texto()
	box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-o-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-ms-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-moz-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-webkit-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
column-count()
	column-count arguments
	-o-column-count arguments
	-ms-column-count arguments
	-moz-column-count arguments
	-webkit-column-count arguments
column-gap()
	column-gap arguments
	-o-column-gap arguments
	-ms-column-gap arguments
	-moz-column-gap arguments
	-webkit-column-gap arguments
column-rule()
	column-rule arguments
	-o-column-rule arguments
	-ms-column-rule arguments
	-moz-column-rule arguments
	-webkit-column-rule arguments
display_flex()
	display flex
	display -webkit-flex
flex()
	flex arguments
	-webkit arguments
perspective()
	perspective arguments
	-o-perspective arguments
	-ms-perspective arguments
	-moz-perspective arguments
	-webkit-perspective arguments
perspective-origin()
	perspective-origin arguments
	-o-perspective-origin arguments
	-ms-perspective-origin arguments
	-moz-perspective-origin arguments
	-webkit-perspective-origin arguments
transform-style()
	transform-style arguments
	-o-transform-style arguments
	-ms-transform-style arguments
	-moz-transform-style arguments
	-webkit-transform-style arguments
text-shadow()
	text-shadow arguments
	-o-text-shadow arguments
	-ms-text-shadow arguments
	-moz-text-shadow arguments
	-webkit-text-shadow arguments
text-shadow_lindo()
	text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-o-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-ms-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-moz-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-webkit-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
transform()
	transform arguments
	-o-transform arguments
	-ms-transform arguments
	-moz-transform arguments
	-webkit-transform arguments
transition()
	transition arguments
	-o-transition arguments
	-ms-transition arguments
	-moz-transition arguments
	-webkit-transition arguments
/*Personalizadas*/
@import "bootstrap.styl"
@import "icomoon.styl"
@import "jquery-ui.styl"
@import "fwslider.styl"
@import "fancybox.styl"

/*Etiquetas*/
body 
	background rgb(255,255,255)
	background -moz-linear-gradient(top, rgba(255,255,255,1) 49%, rgba(207,209,198,1) 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(255,255,255,1)), color-stop(100%,rgba(207,209,198,1)))
	background -webkit-linear-gradient(top, rgba(255,255,255,1) 49%,rgba(207,209,198,1) 100%)
	background -o-linear-gradient(top, rgba(255,255,255,1) 49%,rgba(207,209,198,1) 100%)
	background -ms-linear-gradient(top, rgba(255,255,255,1) 49%,rgba(207,209,198,1) 100%)
	background linear-gradient(to bottom, rgba(255,255,255,1) 49%,rgba(207,209,198,1) 100%)
	filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd1c6',GradientType=0 )")
	color #444


a
	transition(all 0.3s ease-in-out)

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-family $font-family-serif

header
	margin-bottom -1.1em

footer

nav.navbar
	border-radius(4px)
	box-shadow_lindo()

table.table
	thead
		tr:first-child
			th
				/*background rosita*/
				background mostaza
				color #fff
				text-shadow_lindo()

#logo_footer
	margin-left 1em

#ir_arriba
#ir_arriba_phone
	bottom 0.2em
	display inline-block
	font-size 40px
	right 0.2em
	padding 0
	position fixed
	text-decoration none
	transition all 0.3s ease-in-out
	z-index 31
	img
		padding 0
		margin -0.2em 0.3em 0.1em 0.3em

#ir_arriba
	opacity 0
	visibility hidden

#ir_arriba:focus
#ir_arriba_phone:focus
	background rgba(232, 100, 90, 0.2)

#ir_arriba:hover
#ir_arriba_phone:hover
	background rgba(232, 100, 90, 0.3)

#logo
	position relative
	overflow hidden
	
	
	figure
		padding 0
		text-align center
		a
			img
				width 150px

		h1
			display inline-block
			font-size 1.1em
			margin 0.1em

			small
				.icon-phone
					font-size 12px
		
		hr
			margin 0
			display none
		
		small
			display inline-block
			border-left 1px solid #ddd
			padding-left 0.5em

#logo_brand
	left 0.5em
	margin 0
	padding 0
	position relative
	top 0.4em
	
	img
		width 40px

#logo_footer
	float left
	bottom 0
	left 1em
	img
		width 150px

#fwslider
	overflow hidden
	height auto

.center
	text-align center

.facebook, .mail
	color #fff
	opacity 0.8
	text-shadow_lindo()
	
	&:hover, &:focus, &:active
		color #fff
		opacity 1

.facebook
	background azul_facebook

.footer_nav
	ul
		li
			display inline-block

.formulario_separado
	button
	.input-group
		margin 0.5em auto

.justify
	text-align justified

.left
	text-align left

.mail
	background mostaza_oscuro

.promocion
	background rojo_ladrillo url('../img/reabon.png') no-repeat top left
	background-size( auto 100%)
	border 1px dashed rgba(255,255,255,0.5)
	border-radius(5px)
	box-shadow( 0px 0px 1px 5px rojo_google unquote(",") 0px 1px 1px 0px rgba(255,255,255,0.5) inset unquote(",") 0px -15px 15px 0px rgba(0,0,0,0.25) inset )
	color #fff
	overflow hidden
	padding 2em 2em 1em 2em
	margin 0 auto 2em auto
	text-shadow_lindo()
	transition(all 0.3s ease-in-out)
	width 100%
	z-index 10

	a
		color #fff
		transition(all 0.4s ease-in-out)

		&:hover, &:focus, &:active
			text-decoration none

		h2
			border none
			font-size 1.2em
			margin 0 auto
			text-align center
			width 60%

.promocion:hover, .promocion:focus, .promocion:active
	background-color rojo_google

.promocion_imagen
	width 250px

.promocion_modal
	background-image url('../img/reabon.png')
	background-position top left
	background-repeat no-repeat
	background-size( 70px auto )

.right
	text-align right

.thumbnail
	overflow hidden
	
	img
		transition(all 0.3s ease-in-out)
		width 100%

	figcaption
		transition(all 0.3s ease-in-out)

	&:hover, &:focus, &:active
		img
			opacity 0.7
		figcaption
			background mostaza
			box-shadow_lindo()
			color #fff
			text-shadow_lindo()

.thumbnail-320px
	display inline-block
	max-width 320px




@media screen and (min-width: 450px)
	#logo
		figure
			h1
				font-size 1.5em

@media screen and (min-width: 768px)
	header
		margin-bottom 3.4em

	nav.navbar
		margin 0.2em auto
		position fixed !important
		top 0
		width 98%
		z-index 343

	#logo
		background rgba(0,0,0,0.7)
		border-radius 0 0 8px 8px
		left 2em
		padding 0.5em
		position absolute
		top 3.35em
		transition(all 0.3s ease-in-out)
		z-index 123
		
		figure
			a
				img
					width 50%

			h1, small
				color #eee
			hr
				display block
				margin 0.2em
			
			small
				border-left none
				display block
				padding-left 0


		&:hover, &:focus, &:active
			background #fff
			h1, small
				color #333

	#search-form
		.form-group
			input
				transition(all 0.3s ease-in-out)
				width 100px
				&:focus
					width 200px

	.promocion
		background-image url('../img/reabon3.png')
		background-size( auto 50% )
		background-position top center
		position absolute
		right -6em
		top 1em
		transform(rotateZ(45deg))
		width 350px
		
	.reductor
		height 300px !important
		overflow hidden
	
	.columna-2
		column-count(2)
		column-gap(1em)


@media screen and (min-width: 960px)
	.reductor
		height 350px !important

@media screen and (max-width: 400px)
	.container-fluid
		padding 0
		overflow hidden

	.row
		padding 0
		margin 0
		overflow hidden
